html {
  font-size: 1.5em;
  line-height: 1.182em;
  padding: 1.182em;
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

body{
  background-image: url("../img/PRclassroom.JPG");
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#content {
  position: relative;
  margin: 10px;
  max-width: 500px;
  padding: 55px;
  background-color: #ad976d;
  border: 2px solid #000000;
  border-radius: 4px;
}

h1{
  text-align: center;
  line-height: 1;  
  font-family: "Rubik Mono One", "Merriweather", "Roboto", system-ui;
  font-size: 50px;
  color: #FFFFFF;
  display: inline-block;
}